@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --white-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;    /*flexと一緒、横*/
    min-height: 100vh;
    background: url("../img/background.jpg") no-repeat;
    background-size: cover;
    flex-direction: column;
}

/*ここからがArticleのCSS*/


header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    font-size: 32px;
    padding-left: 12px;
    background-color: rgba(250, 40, 200, 0.2);
    backdrop-filter: blur(3px);
}

header a {
    position: relative;
    color: #fff;
    text-decoration: none;
    padding: 0 12px 0 12px;
}

header a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -6px;
    width: 0;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transition: .2s;
    transform: translateX(-50%);/*動き出す基準を変更*/
}


header a:hover::after{
    width: 100%;
}

.frame {
    position: relative;
    display: flex;
    justify-content:space-between;
    align-items: flex-start; /*flexの最小*/
    flex-direction: colum;
    height: auto;
    width: 90vw;
    margin: 10px 0;
    background-color: rgba(0, 0, 0, 0.84);
    border-radius: 20px;
    border: 2px solid rgba(114, 97, 97, 0.5);
    box-shadow: 0 0 30px rgba(0, 0, 0, .7);
}

.frame .articleArea {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 70%;
    margin : 10px 10px;
}

.frame .articleArea .articleTitle{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;/*下ぞろえ*/
    height: 10%;
    width: 100%;
    padding: 20px;
    border-bottom:2px solid #fff;
    border-bottom-width: 80%;
    color: #fff;
    font-size: 32px;
}

.frame .articleArea .articleTitle .date{
    font-size: 24px;
}

.frame .articleArea .articleText {
    height: 90%;
    width: 100%;
    margin: 32px 0;
    color: #fff;
    font-size: 18px;
}

.frame .categryArea {
    position:relative;
    min-height: 600px;
    width: 25%;
    padding: 8px;
    margin: 128px 8px;
    margin-right: 10px;
    margin-left: 20px;
    border-radius: 20px;
    background-color: rgba(35, 83, 146, 0.726);
}

.frame .categryArea .categryTitle{
    height: 10%;
    width: 100%;
    border-bottom:2px solid #fff;
    border-bottom-width: 80%;
    padding: 8px 8px;
    color: #fff;
    font-size: 32px;
}

.frame .categryArea .categrys{
    height: 90%;
    width: 100%;
    margin: 32px 0;
    color: #000000;
    padding-left: 32px;
    font-size: 18px;
    
}

.frame .categryArea .categrys a:link{
    color:rgb(0, 0, 0);
}
.frame .categryArea .categrys a:visited{
    color:rgb(104, 101, 48);
}