@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.board{
    background-color: rgb(187, 141, 89);
    padding: 32px;
}

.me {
    border: 1px solid black;
    aspect-ratio: 1/1;
    height: 48px;
    background: transparent;
}

.vertical {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.deside {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}