<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Website</title>
    <link rel="stylesheet" href="../static/css/article_home.css">
</head>

<body>
    <header>
        <a href="/">Home</a>
    </header>
    <div class="frame">
        <div class="articleArea">
            {% for article_json in article_jsons %}
            <div class="article">
                <div class="articleImgTitle">
                    <img src="{{article_json['image']}}" width="150px" height="100px" class="articleImg">
                    <a href="/Article/{{article_json['articleid']}}">{{article_json["articletitle"]}}</a>
                </div>
                <div class="date">{{article_json["date"]}}</div>
            </div>
            {% endfor %}
        </div>
        <div class="categryArea">
            <h2 class="categryTitle">Categry</h2>
            <div class="categrys">

                <ul>
                    {% for categry_json in categry_jsons %}
                    <li><a href="#">{{categry_json["title"]}}</a>({{categry_json["count"]}})</li>
                    {% endfor %}
                </ul>
            </div>
            
        </div>
    </div>


    <script src="static/js/article.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>