<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Website</title>
    <link rel="stylesheet" href="static/css/index.css">
</head>

<body>
    <header>
        <h2 class="logo">Logo</h2>
        {% block content %}
        <nav class="navigation">
            <a href="#" class="active">Home</a>
            <a href="/igo">Go</a>
            <a href="/Article">Article</a>
            <a href="/kspda">Kspda</a>
            <button class="btnLogin-popup">Login</button>
        </nav>
        <div class="userinfo">
            <h3 class="userName">{{key["username"]}}</h3>
            <img class="userIcon" src="{{key['userimg']}}" width="50px" height="50px">
            
        </div>
        {% endblock %}
    </header>

    <div class="wrapper">
        <span class="icon-close"><ion-icon name="close"></ion-icon></span>

        <div class="form-box login">
            <h2>Login</h2>
            <form action="/" method="post"> <!-- 入力をサーバーに送るやつ -->
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span><!-- spanはどうでもいいやつ -->
                    <input type="email" required name="email_name">
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span><!-- spanはどうでもいいやつ -->
                    <input type="password" required name="pw_name">
                    <label>Password</label>
                </div>
                <button type="submit" class="btn" formmethod="post">Login</button> <!-- form の中のbtnのsubmitは押されたとき、fromのaction宛てに送信 -->
            </form>
        </div>
    </div>


    <script src="static/js/index.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>