<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/kspda_DD.css">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/">Home</a>
    </header>

    <div class="gameFrame" id="gameBG">
    <div class="filter">
        <div class="topbar">
            <div class="timerArea">
                <p class="time"></p>
            </div>

            <div class="bonusArea">
                <img src="../static/img/kspda/normal.png"     class="bonus" id="bonus1">
                <img src="../static/img/kspda/normal.png"     class="bonus" id="bonus2">
                <img src="../static/img/kspda/bonus.png"      class="bonus" id="bonus3">
                <img src="../static/img/kspda/normal.png"     class="bonus" id="bonus4">
                <img src="../static/img/kspda/normal.png"     class="bonus" id="bonus5">
                <img src="../static/img/kspda/bonus.png"      class="bonus" id="bonus6">
                <img src="../static/img/kspda/normal.png"     class="bonus" id="bonus7">
                <img src="../static/img/kspda/normal.png"     class="bonus" id="bonus8">
                <img src="../static/img/kspda/superBonus.png" class="bonus" id="bonus9">
            </div>
        </div>

        <div class="main">
            <p class="text"></p>
            <p class="textYOMI"></p>
            <p class="pushSpace">push Space</p>
        </div>
    </div>
    </div>
    <script src="../static/js/kspda/haisuku-rudd/kspda_DD.js" type="module"></script>
</body>
</html>