header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 128px;
    padding: 20px 100px;
    background: rgba(250, 40, 200, 0.2);
    backdrop-filter: blur(3px); /*すりガラスみたいにする*/
    display: flex; /* 子要素の並び替え */
    justify-content: space-between;/* 良い感じに横並ぶ */
    align-items: center;
    z-index: 99;
}